body{
background:#0f172a;
color:#e2e8f0;
font-family:monospace;
}

/* Header styling */
.header {
  position: relative;
  height: 70px;
  border-bottom: 1px solid #ddd;
  bottom: 10px;
}

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.settings-btn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  font-size: 22px;
  cursor: pointer;
  color:#38bdf8;
}

.restartBtn{
background:#38bdf8;
color:#020617;
border:none;
padding:12px 22px;
font-size:16px;
font-weight:600;
border-radius:8px;
cursor:pointer;
transition:all 0.2s ease;
box-shadow:0 5px 15px rgba(0,0,0,0.4);
}

.restartBtn:hover{
background:#0ea5e9;
transform:translateY(-2px);
box-shadow:0 8px 20px rgba(0,0,0,0.5);
}

.restartBtn:active{
transform:translateY(0);
}


/* Typing container */
.typer{
display:flex;
justify-content:center;
padding-top:80px;
}

/* Wrapper */
.wrapper{
position:relative;
width:950px;
font-size:22px;
font-family:monospace;
background:transparent;
padding:30px;
}

/* Reference text */
.background-text{
position:absolute;
top:30px;
left:30px;
right:30px;
color:#64748b;
pointer-events:none;
line-height:1.8;
}

/* Editable typing layer */
.typing-input{
position:relative;
width:100%;
background:transparent;
color:transparent;
caret-color:#38bdf8;
border:none;
outline:none;
font-size:22px;
font-family:monospace;
line-height:1.8;
height: 200px;
overflow-y:hidden;
white-space: pre-wrap;
word-wrap: break-word;
overflow-wrap: anywhere;
}

/* Info section */
.infoSection{
padding-top:80px;
display:flex;
justify-content:center;
gap:80px;
}

/* Stat boxes */
.infoSection h4{
background:#1e293b;
padding:15px 25px;
border-radius:10px;
box-shadow:0 6px 15px rgba(0,0,0,0.4);
}

/* Correct characters */
.correctInput{
color:#22c55e;
}

/* Wrong characters */
.wrongInput{
color:#ef4444;
}
